:root {
  --text: #1a1a1a;
  --bg: #ffffff;
  --border: #e5e4e7;

  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}
